@font-face {
	font-family: "Josefin Sans", sans-serif;
	src: url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
	font-family: "IM Fell English SC", serif;
	src: url("https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swaphttps://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap");
	font-family: "adobe-caslon-pro", serif;
	src: url("https://use.typekit.net/jjs7nyr.css");
}

* {
	font-family: "Josefin Sans", sans-serif;
}
body {
	min-height: 100vh;
	margin: 0px;
	display: grid;
	grid-template-rows: auto 1fr auto;
	background-color: #f8f7f4;
}
header {
	background-color: #0a3641;
	display: flex;
	justify-content: center;
}

nav {
	min-width: max-content;
	margin: auto;
	padding: 0px;
	display: none;
}
#hamburger-menu {
	display: none;
}
#hamburger-menu:checked ~ nav {
	display: block;
}
nav ul {
	padding: 0px;
}
nav li {
	display: inline-block;
	text-align: center;
}

footer {
	background-color: #0a3641;
	align-items: center;
	display: flex;
	justify-content: space-evenly;
}

footer li {
	display: inline-block;
	padding: 20px;
	margin: 10px auto;
}

/*links*/
a {
	text-decoration: none;
}
header a {
	color: #ddd3ae;
	padding: 20px 20px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-size: 18px;
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-button {
	color: #ddd3ae;
	background-color: transparent;
	border: none;
	padding: 16px;
	margin: auto 30px;
	font-size: 18px;
	text-transform: uppercase;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #0a3641;
	min-width: 300px;
	border: none;
	box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0);
}
.dropdown-content a {
	color: #ddd3ae;
	padding: 12px 2px;
	font-size: 16px;
	display: block;
}

.dropdown-content a:hover {
	text-decoration: underline;
}

.dropdown:hover .dropdown-content {
	display: block;
}
.dropdown:hover .dropdown-button {
	text-decoration: underline;
}

.fa-portrait,
.fa-heart,
.fa-shopping-bag {
	font-size: 30px;
}
.fa-portrait {
	position: relative;
	bottom: 40px;
	left: 60px;
}
.fa-heart {
	position: relative;
	bottom: 40px;
	left: 90px;
}
.fa-shopping-bag {
	position: relative;
	bottom: 40px;
	left: 46px;
}
.logo {
	width: 120px;
	padding-top: 10px;
}
.search-btn {
	background-color: transparent;
	border: none;
	font-size: 24px;
	color: #ddd3ae;
}
.subscribe-here {
	color: #9d9fa9;
	background-color: white;
	text-transform: uppercase;
	font-size: 12px;
	padding: 12px;
}
.subscribe-here a {
	color: #9d9fa9;
	text-decoration: underline;
	padding: 0px;
	font-size: 14px;
}
footer li a {
	font-size: 120%;
	color: #9d9fa9;
}
/*home page*/
.new-collection-homepage,
.city-collection-homepage {
	display: flex;
	max-width: 100vw;
}
.new-collection-homepage > *,
.city-collection-homepage > * {
	flex: 1;
	height: 600px;
}
.new-collection_img {
	background-image: url("../images/pexels-matt-hardy-2755165.jpg");
	height: 900px;
	width: 100%;
	background-size: cover;
}
.new-collection-homepage {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.new-collection-homepage h1 {
	font-family: "IM Fell English SC", serif;
	color: #9c3611;
	font-size: 4vw;
	letter-spacing: 16px;
}
.new-collection-homepage a {
	font-size: 18px;
	color: black;
	text-decoration: underline;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 5px;
	padding: 12px;
}
.city-collection-homepage {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.city-collection-homepage h2 {
	padding: 20px;
	top: 200px;
	left: 90px;
	font-family: "adobe-caslon-pro", serif;
	color: #000000;
	font-size: 80px;
	font-weight: normal;
}
.city-collection-homepage a {
	padding: 20px;
	top: 390px;
	left: 90px;
	font-family: "adobe-caslon-pro", serif;
	color: #000000;
	font-size: 24px;
	text-decoration: underline;
	text-transform: uppercase;
	font-weight: normal;
}
.city-collection_img {
	background-image: url("../images/2pexels-cottonbro-3205741.jpg");
	height: 900px;
	background-size: cover;
	background-position-y: bottom;
	background-position-x: center;
}

.jacket-list-cta {
	margin: 100px 200px;
	background-image: url("../images/findthejacket_background.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	height: 330px;
	width: auto;
	display: flex;
	align-items: center;
}
.jacket-list-cta a {
	color: black;
	font-size: 80px;
	text-transform: uppercase;
}
.jacket-list-cta h3 {
	padding-left: 100px;
}

/*jacket-list*/
.jackets {
	margin: 20px auto;
	width: 1600px;
	display: flex;
}
.sort-filter {
	border: solid;
	width: 20%;
	height: fit-content;
}

.sort label::after {
	content: "";
	display: block;
}

#category {
	display: block;
}

#size {
	display: block;
}

#activity {
	display: block;
}

.yellowclassic img {
	width: 100%;
}

.yellowclassic li {
	display: block;
}

.all-jackets {
	margin: 40px;
	max-width: 1000px;
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
}

.all-jackets ul {
	padding: 0;
	margin: 0;
}
.all-jackets .yellowclassic {
	padding: 20px 20px;
	margin: 40px 40px;
}
/*contact us*/
.contactus-main h1 {
	font-size: 3em;
	text-transform: uppercase;
	font-weight: 400;
	text-align: center;
	padding: 30px;
	margin: 0 auto;
}
.contactus-main h2,
h3,
h4 {
	font-size: 1.2em;
	text-transform: uppercase;
}
.contactus {
	width: 1200px;
	margin: 20px auto;
	display: flex;
	justify-content: space-between;
	flex: 1;
}

.contactus li {
	display: block;
}
.contactus li a {
	color: #000000;
}
.phone-email,
.leave-message,
.social-media {
	max-width: 300px;
	text-align: left;
	line-height: 2;
}
.social-media li {
	line-height: 4;
	font-size: 1.3em;
}

.submit {
	color: white;
	font-size: 1em;
	text-transform: uppercase;
	background-color: #9d9fa9;
	padding: 8px 16px;
	border: #9d9fa9;
}
input,
textarea {
	border: 1px solid #9d9fa9;
	margin: 10px;
	padding: 4px;
}

.contactus label {
	color: #9d9fa9;
	font-size: 1.2em;
	font-family: "Josefin Slab", "Josefin Sans", sans-serif;
	text-transform: capitalize;
}

/* about us*/
.about-text {
	line-height: 2;
	font-size: 22px;
	max-width: 100%;
	margin: 60px 100px;
	display: flex;
	text-align: left;
	justify-content: space-evenly;
}
.about-text p {
	display: none;
}
.about-text h1,
h2 {
	font-size: 48px;
	text-transform: uppercase;
	text-align: center;
}
.about-text h2:hover + p {
	display: block;
	background-color: #f8f7f4;
}
.about-text h1:hover + p {
	display: block;
	background-color: #f8f7f4;
}
.about-text > * {
	flex: 1;
	margin: 50px;
}
.about-img img {
	width: 50%;
	height: 600px;
	object-fit: cover;
	object-position: 20%;
}
.about-img {
	display: flex;
}

/*yellow classic page*/

.yellowclassicinfo li {
	display: block;
	width: 20%;
}
.yellowclassic-product-page img {
	width: 16%;
	height: 353px;
	object-fit: cover;
}
