* {
	font-family: "Josefin Sans", sans-serif;
}
body {
	min-height: 100vh;
	margin: 0px;
	display: grid;
	grid-template-rows: auto 1fr auto;
	background-color: #f8f7f4;
	position: relative;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background-color: #0a3641;
}
#hamburger-menu {
	display: none;
}
#hamburger-menu:checked ~ nav {
	display: block;
}
.fa-bars {
	color: #ddd3ae;
}
nav {
	position: absolute;
	display: none;
	background-color: #0a3641;
	top: 50px;
	right: 0;
}
nav ul {
	padding: 0px;
}

nav li {
	display: block;
	padding: 10px;
}

footer {
	align-items: center;
	background-color: #0a3641;
}
footer ul {
	display: flex;
	padding: 0px;
	flex-direction: column;
}

footer li {
	margin: 10px auto;
	display: inline-block;
}
/*links*/
a {
	text-decoration: none;
}
header a {
	color: #ddd3ae;
	padding: 2px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-size: 8px;
}

.fa-portrait,
.fa-heart,
.fa-shopping-bag {
	font-size: 1em;
}
.logo {
	width: 100px;
	padding: 10px;
}
footer ul {
	flex-direction: column;
}

footer a {
	padding: 10px;
	letter-spacing: 3px;
	color: #acacac;
}
.breadcrumbs {
	min-width: auto;
	padding: 10px auto;
	text-align: left;
	margin: 20px;
}
.breadcrumbs a {
	word-spacing: 10px;
	color: black;
	font-size: 1em;
	text-transform: uppercase;
}
/*home page*/
.new-collection-homepage,
.city-collection-homepage {
	display: flex;
	max-width: 100vw;
}
.new-collection-homepage > *,
.city-collection-homepage > * {
	flex: 1;
	max-height: 300px;
}
.new-collection_img {
	background-image: url("../images/pexels-matt-hardy-2755165.jpg");
	height: 400px;
	width: 100%;
	background-size: cover;
}
.new-collection-homepage {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.new-collection-homepage h1 {
	font-family: "IM Fell English SC", serif;
	color: #9c3611;
	font-size: 20px;
	letter-spacing: 4px;
}
.new-collection-homepage a {
	font-size: 12px;
	color: black;
	text-decoration: underline;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 5px;
	padding: 12px;
}
.city-collection-homepage {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.city-collection-homepage h2 {
	font-family: "adobe-caslon-pro", serif;
	color: black;
	font-size: 18px;
	letter-spacing: 3px;
}
.city-collection-homepage a {
	padding: 10px;
	top: 390px;
	left: 90px;
	font-family: "adobe-caslon-pro", serif;
	color: #000000;
	font-size: 14px;
	text-decoration: underline;
	text-transform: uppercase;
	font-weight: normal;
}
.city-collection_img {
	background-image: url("../images/2pexels-cottonbro-3205741.jpg");
	height: 400px;
	background-size: cover;
	background-position-y: bottom;
	background-position-x: center;
}
.jacket-list-cta {
	width: 300px;
	height: 70px;
	background-image: url("../images/findthejacket_background.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	margin: 10px auto;
}
.jacket-list-cta a {
	font-size: 40px;
}
.jacket-list-cta a,
h3 {
	color: black;
	text-transform: uppercase;
	text-align: start;
	font-size: 18px;
}

/*contact us*/

.formError {
	display: none;
	color: rgb(241, 86, 86);
	font-size: 14px;
	margin-top: 2px;
}

.contactus-main h1 {
	font-size: 2em;
	text-transform: uppercase;
	font-weight: 400;
	text-align: center;
	padding: 10px;
	margin: 20px auto;
}
.contactus-main h2 {
	font-size: 1.2em;
	text-transform: uppercase;
}
.contactus {
	max-width: fit-content;
	padding: 10px;
	margin: 10px auto;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	flex: 1;
}

.contactus li {
	display: block;
}
.contactus li a {
	color: #000000;
}
.phone-email,
.leave-message,
.social-media {
	max-width: 700px;
	text-align: left;
	line-height: 2;
}
.social-media li {
	line-height: 4;
	font-size: 1.3em;
}

.submit {
	color: white;
	font-size: 1em;
	text-transform: uppercase;
	background-color: #9d9fa9;
	padding: 8px 16px;
	border: #9d9fa9;
}
input,
textarea {
	border: 1px solid #9d9fa9;
	margin: 10px;
	padding: 4px;
}

.contactus label {
	color: #9d9fa9;
	font-size: 1.2em;
	font-family: "Josefin Slab", "Josefin Sans", sans-serif;
	text-transform: capitalize;
}

/* about us*/
.aboutus {
	display: flex;
	flex: 1;
	flex-direction: column;
}
.about-column {
	line-height: 2;
	font-size: 22px;
	max-width: 100%;
	margin-top: 20px;
	display: flex;
	flex: 1;
	flex-direction: column;
}
.about-column p {
	display: none;
	padding: 10px;
}
.about-column h1 {
	padding: 10px auto;
	margin: 20px auto;
	font-size: 48px;
	text-transform: uppercase;
	text-align: center;
}
.about-column img {
	width: 100%;
	height: 300px;
	object-fit: cover;
	object-position: center;
}
.discover-column h2:hover + p {
	display: block;
	background-color: #f8f7f4;
}
.about-column h1:hover + p {
	display: block;
	background-color: #f8f7f4;
}
.discover-column {
	line-height: 2;
	font-size: 22px;
	max-width: 100%;
	margin-top: 20px;
	display: flex;
	flex: 1;
	flex-direction: column;
}
.discover-column h2 {
	padding: 10px auto;
	margin: 10px auto;
	font-size: 48px;
	text-transform: uppercase;
	text-align: center;
}
.discover-column p {
	display: none;
	margin: 10px;
}
.discover-column img {
	width: 100%;
	height: 300px;
	object-fit: cover;
	object-position: center;
}

/*yellow classic page*/
.jacket-specific_page h1 {
	font-size: 2em;
	text-transform: uppercase;
	font-weight: 400;
	text-align: center;
	padding: 10px;
	margin: 20px auto;
	text-decoration: underline;
}
.yellow-classic_productpage {
	display: flex;
	margin: 20px auto;
	justify-content: space-around;
	flex-direction: column;
}
.yellow-classic_productpage > * {
	flex: 1;
}
.yellow-classic_productpage img {
	max-width: 300px;
	object-fit: contain;
	margin: 20px;
}
.yellow-classic_info ul {
	padding: 0;
}
.yellow-classic_info li {
	display: block;
	width: 100%;
	line-height: 30px;
	padding: 5px;
	margin: 0 auto;
	font-size: 20px;
}
.blue {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background-color: blue;
	display: inline-block;
}
.red {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background-color: red;
	display: inline-block;
}
.yellow {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background-color: yellow;
	display: inline-block;
}
.green {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background-color: green;
	display: inline-block;
}
.black {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background-color: black;
	display: inline-block;
}
.yellow-classic_cta {
	margin: 10px auto;
	text-align: center;
}
.yellow-classic_cta i {
	font-size: 40px;
	color: brown;
}
.yellow-classic_cta button {
	text-transform: uppercase;
	font-size: 26px;
	margin: 10px;
	padding: 10px;
	color: #0a3641;
	border: 2px solid #767e62;
	cursor: pointer;
}
.yellow-classic_cta button:hover {
	color: antiquewhite;
	background-color: #767e62;
}

/*products*/

.products-page h1 {
	font-size: 2em;
	text-transform: uppercase;
	font-weight: 400;
	text-align: center;
	padding: 10px;
	margin: 20px auto;
	text-decoration: underline;
}

.product h3 {
	text-align: center;
	font-size: 20px;
	font-weight: 400;
}
.product h3 a {
	color: black;
}
.product img {
	width: 80%;
}
.product p,
.product-price {
	font-size: 20px;
}
.products {
	text-align: center;
	margin: 10px auto;
	padding: 50px 50px;
	max-width: 1500px;
	display: grid;
	grid-template-columns: repeat(1, minmax(0, 1fr));
	gap: 50px;
}
.product:hover {
	background-color: rgb(240, 240, 240);
}
.product-button {
	background: rgb(184, 197, 184);
	color: rgb(29, 29, 29);
	border: 0px;
	width: 80%;
	padding: 6px;
	margin-top: 5px;
	font-size: 18px;
}
.product-button:hover {
	cursor: pointer;
	background-color: rgb(164, 187, 164);
}

.bag {
	background-color: rgb(226, 222, 211);
	max-width: 500px;
	margin: auto;
	padding: 10px;
	position: fixed;
	top: 200px;
	right: 20px;
	display: none;
	flex-direction: column;
}
.bag a {
	background-color: rgb(230, 250, 201);
	color: rgb(58, 109, 51);
	padding: 6px;
}
.total-bag {
	margin-bottom: 10px;
	padding: 10px;
}

.bag-image {
	margin: 10px;
	max-width: 50px;
	max-height: 80px;
}
.bag-list {
	padding: 5px;
}

/*bag page*/
.bag-page h1 {
	font-size: 2em;
	text-transform: uppercase;
	font-weight: 400;
	text-align: center;
	padding: 10px;
	margin: 20px auto;
	text-decoration: underline;
}
.bag-item {
	display: flex;
	justify-content: space-evenly;
	border: solid 1px rgb(68, 78, 100);
	max-width: 1000px;
	margin: 20px auto;
}
.bag-item img {
	width: 100px;
}
.bag-page .total {
	text-align: center;
	font-size: 20px;
	padding: 5px;
}
.bag-page a {
	cursor: pointer;
	display: block;
	text-transform: uppercase;
	font-size: 22px;
	padding: 10px;
	margin: 10px auto;
	text-align: center;
	background-color: rgb(208, 218, 192);
	color: rgb(58, 109, 51);
	max-width: 1000px;
}
.bag-page a:hover {
	background-color: rgb(196, 223, 154);
}
/*checkout page*/
.checkout-page-container h1 {
	font-size: 2em;
	text-transform: uppercase;
	font-weight: 400;
	text-align: center;
	padding: 10px;
	margin: 20px auto;
	text-decoration: underline;
}
.checkout-page {
	height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin: auto auto;
	text-transform: capitalize;
}
.checkout-page h2 {
	padding: 10px;
	margin: 10px auto;
	font-size: 20px;
	text-transform: uppercase;
}
.checkout-page > * {
	flex: 1;
}

.section1 {
	border: 1px solid black;
	max-width: 400px;
	margin: 10px 10px;
	padding: 10px;
}
.section1_content {
	margin: 60px auto;
}
.section1 p {
	margin: 0px;
}
.section1 div {
	float: left;
}
.section1 input,
label {
	display: block;
}
.section2 {
	border: 1px solid black;
	max-width: 400px;
	margin: 10px 10px;
	padding: 10px;
	line-height: 30px;
}
.section2_content {
	margin: 20px auto;
}
.section2 div {
	float: left;
}
.section2 input,
label {
	display: block;
}

.section3 {
	border: 1px solid black;
	max-width: 400px;
	margin: 10px 10px;
	padding: 10px;
}
.section3 .bag-item {
	display: flex;
}

.section3 a {
	cursor: pointer;
	display: block;
	text-transform: uppercase;
	font-size: 22px;
	padding: 10px;
	margin: 10px auto;
	text-align: center;
	background-color: rgb(208, 218, 192);
	color: rgb(58, 109, 51);
	max-width: 1000px;
}
.section3 a:hover {
	background-color: rgb(196, 223, 154);
}

/*checkout success*/
.checkout-success_page {
	position: relative;
	background-size: cover;
	background-position: center;
	background-image: url("../images/pexels-rok-romih-3848197.jpg");
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.checkout-page > * {
	flex: 1px;
}
.bold {
	font-weight: bold;
}
.order-info {
	text-align: center;
	text-transform: capitalize;
	width: 100%;
	background-color: #f8f7f4;
}
.info-list {
	text-align: left;
	display: inline-block;
}
.info-list li {
	list-style-type: none;
}
.checkout {
	text-align: center;
	margin: 40px auto;
	background-color: rgba(0, 0, 0, 0.2);
}
.checkout h4 {
	padding: 30px 0px;
	margin: 0px;
	font-size: 1.8em;
	font-weight: 400;
	color: white;
	background-color: #767e62;
}
.checkout p {
	margin: 10px;
	padding: 20px;
	color: white;
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 1px;
}
.checkout a {
	color: white;
	font-size: 20px;
	text-decoration: underline;
	text-transform: uppercase;
}
.fa-check-circle {
	color: rgb(255, 230, 149);
}

/*login*/

@media (min-width: 600px) {
	.logo {
		width: 140px;
	}
	footer ul {
		padding: 0px;
		display: flex;
		flex-direction: row;
		align-content: center;
		justify-content: space-around;
	}
	.contactus {
		width: fit-content;
		padding: 10px auto;
		justify-content: space-evenly;
	}

	.aboutus {
		height: 100%;
		flex-direction: row;
		padding: 0px;
	}
	.about-column img {
		height: 600px;
	}

	.discover-column img {
		height: 600px;
	}
	.products {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

@media (min-width: 800px) {
	.logo {
		width: 150px;
	}
	header label {
		display: none;
	}
	header {
		justify-content: space-evenly;
	}
	header a {
		font-size: 0.7em;
	}
	nav {
		display: contents;
		margin: 0px;
		position: static;
		top: 0px;
	}
	nav li {
		display: inline-block;
	}

	.new-collection_img {
		min-height: 1000px;
	}

	.new-collection h1 {
		font-size: 50px;
		letter-spacing: 12px;
	}

	.city-collection_img {
		min-height: 1000px;
	}
	.city-collection h2 {
		font-size: 40px;
		font-weight: 200;
	}
	.jacket-list-cta {
		width: 800px;
		height: 180px;
		background-size: contain;
		background-repeat: no-repeat;
		margin: 200px auto;
	}
	.jacket-list-cta a {
		font-size: 40px;
	}
	.contactus {
		min-width: 1200px;
		flex-direction: row;
		justify-content: space-between;
	}

	.yellow-classic_productpage {
		flex-direction: row;
		justify-content: space-evenly;
	}
	.yellow-classic_productpage img {
		width: 400px;
	}
	.checkout-page {
		flex-direction: row;
		justify-content: space-evenly;
	}
	.order-info {
		width: 50%;
		margin: 0px auto;
	}
	.products {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}

@media (min-width: 1200px) {
	.logo {
		width: 200px;
	}
	header a {
		font-size: 1em;
		padding: 5px;
	}
}
@media (min-width: 1400px) {
	header a {
		margin: 20px;
	}
}
